/* ===============================================================================================================*/
/* Base Elements */
/* ===============================================================================================================*/
img{
    max-width: 100%;
    display: block;
}
/* ===============================================================================================================*/
/* Body */
/* ===============================================================================================================*/

/* WICHTIG: Entfernt den Standard-Rand, den Browser dem <body>-Element geben */
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ===============================================================================================================*/
/* Box Sizing Reset */
/* ===============================================================================================================*/
*, *::before, *::after {
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in die Breite (100%) eingerechnet werden */
}

/* ===============================================================================================================*/
/* Header Grid */
/* ===============================================================================================================*/

.header-grid {
    display: grid;
    /* 12 Spalten */
    grid-template-columns: repeat(3, 1fr); 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 10px; /* Abstand zwischen den Grid-Elementen */
    row-gap: 10px;
    grid-template-areas: 
        "title1 title2 title3";
    background-color: white; 

    position: fixed; /* 1. Fixiert das Element relativ zum Browser-Fenster */
    top: 0;          /* 2. Positioniert es oben (Null-Abstand vom oberen Rand) */
    left: 0;         /* 3. Positioniert es links (Null-Abstand vom linken Rand) */
    width: 100%;     /* 4. Lässt es die gesamte Breite des Fensters einnehmen */
    z-index: 1000;   /* 5. Sorgt dafür, dass es ÜBER allen anderen Inhalten liegt */
}


/* ===============================================================================================================*/
/* HEADER-GRID-ELEMENTE (Titel) */
/* ===============================================================================================================*/

.header-grid__title1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    grid-area: title1;
    text-align: left;
}

/* GRID-ELEMENTE (Item 2) */
.header-grid__title2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    grid-area: title2;
    text-align: center;
}

/* GRID-ELEMENTE (Item 3) */
.header-grid__title3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    grid-area: title3;
    text-align: right;
}
