@font-face {
	font-family: 'Druk Wide Web';
	src: url('DrukWide-Medium-Web.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

/* ===============================================================================================================*/
/* Base Elements */
/* ===============================================================================================================*/
img{
    max-width: 100%;
    display: block;
}
/* ===============================================================================================================*/
/* Body */
/* ===============================================================================================================*/

/* WICHTIG: Entfernt den Standard-Rand, den Browser dem <body>-Element geben */
body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Druk Wide Web';
	font-weight: 500;
	font-style: normal;
}

/* ===============================================================================================================*/
/* Box Sizing Reset */
/* ===============================================================================================================*/
*, *::before, *::after {
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in die Breite (100%) eingerechnet werden */
}

/* ===============================================================================================================*/
/* Header Grid */
/* ===============================================================================================================*/

.header-grid {
    display: grid;
    /* 12 Spalten */
    grid-template-columns: repeat(3, 1fr); 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 10px; /* Abstand zwischen den Grid-Elementen */
    row-gap: 10px;
    grid-template-areas: 
        "title1 title2 title3";
    background-color: white; 

    position: fixed; /* 1. Fixiert das Element relativ zum Browser-Fenster */
    top: 0;          /* 2. Positioniert es oben (Null-Abstand vom oberen Rand) */
    left: 0;         /* 3. Positioniert es links (Null-Abstand vom linken Rand) */
    width: 100%;     /* 4. Lässt es die gesamte Breite des Fensters einnehmen */
    z-index: 1000;   /* 5. Sorgt dafür, dass es ÜBER allen anderen Inhalten liegt */
}


/* ===============================================================================================================*/
/* HEADER-GRID-ELEMENTE (Titel) */
/* ===============================================================================================================*/

.header-grid__title1 {
    font-size: 20px;
    color: black;
    grid-area: title1;
    text-align: left;
}

/* GRID-ELEMENTE (Item 2) */
.header-grid__title2 {
    font-size: 20px;
    color: black;
    grid-area: title2;
    text-align: center;
}

/* GRID-ELEMENTE (Item 3) */
.header-grid__title3 {
    font-size: 20px;
    color: black;
    grid-area: title3;
    text-align: right;
}


/* ===============================================================================================================*/
/* GRID-ELEMENTE (Titel) */
/* ===============================================================================================================*/

.zentrierter-titel_weiss {
    font-size: clamp(20px, 10vw, 130px);
    color: rgb(255, 255, 255);
    grid-area: title;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
}

.zentrierter-titel_schwarz {
    font-size: clamp(20px, 10vw, 130px);
    color: rgb(0, 0, 0);
    grid-area: title;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
}

.projektbeschreib {
    font-size: clamp(14px, 3vw, 30px);
    color: black;
    grid-area: projektbeschreib;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.projektbeschreib1 {
    font-size: clamp(14px, 3vw, 30px);
    color: black;
    grid-area: projektbeschreib1;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.projektbeschreib_detail1 {
    font-size: clamp(14px, 3vw, 30px);
    color: black;
    grid-area: projektbeschreib_detail1;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* =====================================================================================================================================*/

/* ===============================================================================================================*/
/* Project Grid  */
/* ===============================================================================================================*/

/* fechten (Grid) */
.project-grid__ueber-mich {
    display: grid;
    /* 12 Spalten */
    grid-template-columns: repeat(12, 1fr); 
     padding: 10px 0px 10px 0px; /* padding: Oben Rechts Unten Links; */
    gap: 10px; /* Abstand zwischen den Grid-Elementen */
    row-gap: 10px;
    grid-template-areas: 
        "title title title title title title title title title title title title"
        "projektbeschreib projektbeschreib projektbeschreib projektbeschreib projektbeschreib projektbeschreib projektbeschreib projektbeschreib projektbeschreib . . .";
    background-color: white; 
    justify-items: center;
    align-items: center;
}


/* ===============================================================================================================*/
/* GRID-ELEMENTE (Bilder) */
/* ===============================================================================================================*/

/* fechten (Bilder) */
.project-grid__bild {
    grid-area: title;
}
